Repository OEvortex/Webscout, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, provider, cli

.github/labeler.yml:

# Example labeler configuration
# Add your label rules here. See https://github.com/actions/labeler for syntax.

# Example:
docs:
  - '**/*.md'
tests:
  - '**/test_*.py'
provider:
  - 'webscout/Provider/**'
cli:
  - 'webscout/cli.py'

docs: enhance client documentation with detailed architecture and usage examples
  docs/client.md
Labels: docs

merged dupe logics in client.py
  webscout/client.py
Labels: none

feat: add server TTS endpoint and fix client type checking
  changelog.md
  webscout/client.py
  webscout/server/config.py
  webscout/server/providers.py
  webscout/server/request_models.py
  webscout/server/routes.py
  webscout/server/server.py
Labels: docs

feat: add LuxTTS voice cloning provider with comprehensive documentation and tests
  Provider.md
  changelog.md
  tests/providers/test_luxtts.py
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/luxtts.py
Labels: docs, tests, provider

feat: add KittenTTS provider with comprehensive documentation and tests
  Provider.md
  changelog.md
  tests/providers/test_kittentts.py
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/kittentts.py
Labels: docs, tests, provider

feat: add XLNK TTS provider with comprehensive documentation and tests
  Provider.md
  changelog.md
  tests/providers/test_xlnk.py
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/xlnk.py
Labels: docs, tests, provider

feat: add OpenResearcher provider for AI-powered research with multi-round capabilities and comprehensive tests
  changelog.md
  tests/providers/test_openresearcher.py
  webscout/Provider/AISEARCH/__init__.py
  webscout/Provider/AISEARCH/openresearcher.py
Labels: docs, tests, provider

feat: enhance OpenResearcher provider with response formatting and new test case
  tests/providers/test_openresearcher.py
  webscout/Provider/AISEARCH/openresearcher.py
Labels: tests, provider

feat: add CohereCommand provider with conversation capabilities and streaming support
  webscout/Provider/AISEARCH/ayesoul_search.py
  webscout/Provider/AISEARCH/openresearcher.py
  webscout/Provider/CohereCommand.py
  webscout/Provider/__init__.py
Labels: provider

feat: update AGENTS.md for project overview and architecture; enhance test cases for OpenResearcher provider
  AGENTS.md
  tests/providers/test_openresearcher.py
  webscout/server/providers.py
Labels: docs, tests

feat: update publish-to-pypi.yml for daily stable releases; change default release type to stable
  .github/workflows/publish-to-pypi.yml
  changelog.md
Labels: docs

feat: enhance model retrieval logic in provider initialization; add agent workflow guidelines to AGENTS.md
  AGENTS.md
  webscout/server/providers.py
Labels: docs

refactor: remove fallback logic for providers and clean up comments in provider initialization
  changelog.md
  webscout/server/providers.py
  webscout/server/request_processing.py
  webscout/server/routes.py
  webscout/server/server.py
Labels: docs

feat: add missing TTS model and provider GET routes for improved API functionality
  changelog.md
  webscout/server/routes.py
Labels: docs

v2026.4.4 - Typing improvements and test fixes
  changelog.md
  pyproject.toml
  tests/__init__.py
  tests/live_test.py
  tests/providers/test_all_mocked.py
  tests/providers/test_avasupernova.py
  tests/providers/test_gemini.py
  tests/providers/test_groq.py
  tests/providers/test_huggingface.py
  tests/providers/test_openai.py
  ty.toml
  webscout/AIbase.py
  webscout/Bard.py
  webscout/Extra/proxy_manager.py
  webscout/Provider/Auth/Deepinfra.py
  webscout/Provider/Auth/Upstage.py
  webscout/Provider/Auth/cerebras.py
  webscout/Provider/AvaSupernova.py
  webscout/Provider/Openai_comp/Auth/TogetherAI.py
  webscout/Provider/Openai_comp/Auth/TwoAI.py
  webscout/Provider/Openai_comp/Auth/cerebras.py
  webscout/Provider/Openai_comp/Auth/deepinfra.py
  webscout/Provider/Openai_comp/Auth/groq.py
  webscout/Provider/Openai_comp/Auth/huggingface.py
  webscout/Provider/Openai_comp/Auth/nvidia.py
  webscout/Provider/Openai_comp/Auth/openrouter.py
  webscout/Provider/Openai_comp/Auth/sambanova.py
  webscout/Provider/Openai_comp/Auth/upstage.py
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/Openai_comp/avasupernova.py
  webscout/Provider/__init__.py
  webscout/__init__.py
Labels: docs, tests, provider

Add VisualGPT TTI provider with cookie authentication
  webscout/Provider/TTI/__init__.py
  webscout/Provider/TTI/visualgpt.py
Labels: provider

feat: Add BingImageAI and MagicHourAI providers with image generation capabilities
  .gitignore
  webscout/Provider/TTI/README.md
  webscout/Provider/TTI/__init__.py
  webscout/Provider/TTI/bingimage.py
  webscout/Provider/TTI/image_hosting.py
  webscout/Provider/TTI/magichour.py
  webscout/Provider/TTI/magicstudio.py
  webscout/Provider/TTI/pollinations.py
  webscout/Provider/TTS/kittentts.py
Labels: docs, provider

feat: Add TTSAI provider for text-to-speech using TTS.ai API
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/ttsai.py
Labels: provider

refactor: Update request parameters in Images class and enhance TTSAI initialization
  webscout/Provider/TTI/magicstudio.py
  webscout/Provider/TTS/ttsai.py
Labels: provider

Added logo
  cmp2d3e0501zm0a47x36u45l1.svg
Labels: none

Added logo
  logo.svg
Labels: none

Update README.md
  README.md
Labels: docs

Add files via upload
  dark logo.svg
Labels: none

Update dark logo.svg
  dark logo.svg
Labels: none

Update logo.svg
  logo.svg
Labels: none

Update .gitignore and pyproject.toml; add type hints and ignore comments in various files
  .gitignore
  pyproject.toml
  webscout/Extra/gguf.py
  webscout/Provider/Openai_comp/chatgpt.py
  webscout/Provider/Openai_comp/e2b.py
  webscout/Provider/Openai_comp/exaai.py
  webscout/Provider/Openai_comp/textpollinations.py
  webscout/sanitize.py
  webscout/scout/parsers/html5lib_parser.py
  webscout/swiftcli/decorators/command.py
  webscout/swiftcli/decorators/options.py
Labels: provider

Add new models to Toolbaz and TurboSeek; refactor HTML handling in TurboSeek
  webscout/Provider/Openai_comp/toolbaz.py
  webscout/Provider/toolbaz.py
  webscout/Provider/turboseek.py
Labels: provider

Refactor PollinationsAI integration: update API endpoint, add authentication, and replace TextPollinationsAI with PollinationsAI class
  Provider.md
  webscout/Provider/Auth/PollinationsAI.py
  webscout/Provider/Auth/__init__.py
  webscout/Provider/Openai_comp/textpollinations.py
  webscout/Provider/__init__.py
Labels: docs, provider

Add CONTRIBUTING.md — contribution guidelines for contributors
  CONTRIBUTING.md
Labels: docs

Add Apache 2.0 License
  LICENSE
Labels: none

Add new providers (ArtingAI, AskaiFree, FreeAI, OllamaSwarm, OperaAria) and fix broken ones
  changelog.md
  tests/test_all_providers.py
  webscout/Provider/Apriel.py
  webscout/Provider/ArtingAI.py
  webscout/Provider/AskaiFree.py
  webscout/Provider/CohereCommand.py
  webscout/Provider/ExaAI.py
  webscout/Provider/FreeAI.py
  webscout/Provider/HeckAI.py
  webscout/Provider/OllamaSwarm.py
  webscout/Provider/Openai_comp/OllamaSwarm.py
  webscout/Provider/Openai_comp/OperaAria.py
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/Openai_comp/exaai.py
  webscout/Provider/Openai_comp/heckai.py
  webscout/Provider/Openai_comp/llmchat.py
  webscout/Provider/OperaAria.py
  webscout/Provider/UNFINISHED/Ayle.py
  webscout/Provider/UNFINISHED/README.md
  webscout/Provider/UNFINISHED/ayle.py
  webscout/Provider/UNFINISHED/elmo.py
  webscout/Provider/UNFINISHED/llmchatco.py
  webscout/Provider/UNFINISHED/meta.py
  webscout/Provider/UNFINISHED/sonus.py
  webscout/Provider/__init__.py
  webscout/Provider/llmchat.py
  webscout/version.py
Labels: docs, tests, provider

Update README.md
  README.md
Labels: docs
