Repository OEvortex/Webscout, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, provider, cli

feat: Improve type safety and error handling across provider implementations
  .gitignore
  changelog.md
  test.py
  webscout/Extra/gguf.py
  webscout/Provider/AISEARCH/ayesoul_search.py
  webscout/Provider/Andi.py
  webscout/Provider/Cohere.py
  webscout/Provider/ExaAI.py
  webscout/Provider/Gemini.py
  webscout/Provider/Gradient.py
  webscout/Provider/HeckAI.py
  webscout/Provider/IBM.py
  webscout/Provider/Netwrck.py
  webscout/Provider/Openai_comp/ibm.py
  webscout/Provider/Openai_comp/llmchat.py
  webscout/Provider/Sambanova.py
  webscout/Provider/TTI/claudeonline.py
  webscout/Provider/TTI/magicstudio.py
  webscout/Provider/TTI/pollinations.py
  webscout/Provider/TextPollinationsAI.py
  webscout/Provider/UNFINISHED/ChutesAI.py
  webscout/Provider/UNFINISHED/Youchat.py
  webscout/Provider/ai4chat.py
  webscout/Provider/cleeai.py
  webscout/Provider/julius.py
  webscout/Provider/llama3mitril.py
  webscout/Provider/meta.py
  webscout/__init__.py
  webscout/server/request_models.py
Labels: docs, provider

Refactor Provider imports, remove X0GPT, and add K2Think integration
  Provider.md
  changelog.md
  webscout/Provider/Algion.py
  webscout/Provider/ChatSandbox.py
  webscout/Provider/Openai_comp/DeepAI.py
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/Openai_comp/ai4chat.py
  webscout/Provider/Openai_comp/akashgpt.py
  webscout/Provider/Openai_comp/algion.py
  webscout/Provider/Openai_comp/ayle.py
  webscout/Provider/Openai_comp/chatsandbox.py
  webscout/Provider/Openai_comp/deepinfra.py
  webscout/Provider/Openai_comp/e2b.py
  webscout/Provider/Openai_comp/elmo.py
  webscout/Provider/Openai_comp/k2think.py
  webscout/Provider/Openai_comp/x0gpt.py
  webscout/Provider/__init__.py
  webscout/Provider/akashgpt.py
  webscout/Provider/k2think.py
  webscout/Provider/x0gpt.py
  webscout/__init__.py
Labels: docs, provider

feat: Consolidate LitAgent imports and remove redundant lines in deepinfra.py and elmo.py
  webscout/Provider/Openai_comp/deepinfra.py
  webscout/Provider/Openai_comp/elmo.py
  webscout/__init__.py
Labels: provider

Refactor code structure for improved readability and maintainability
  webscout/Extra/gguf.py
  webscout/Provider/UNFINISHED/liner.py
  webscout/Provider/UNFINISHED/lmarena.py
Labels: provider

Enhance TypliAI and Toolbaz providers with CSRF token handling, support for reasoning models, and improved streaming response management. Update changelog with fixes and new features.
  changelog.md
  tests/server/test_request_processing.py
  webscout/Provider/Openai_comp/toolbaz.py
  webscout/Provider/Openai_comp/typliai.py
  webscout/Provider/Openai_comp/utils.py
  webscout/Provider/TypliAI.py
  webscout/server/request_processing.py
  webscout/server/routes.py
Labels: docs, tests, provider

✨ Add Blackbox provider and fix lmarena.py linting
  changelog.md
  pyproject.toml
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/Openai_comp/blackbox.py
  webscout/Provider/UNFINISHED/lmarena.py
  webscout/Provider/__init__.py
  webscout/Provider/blackbox.py
Labels: docs, provider

✨ Update changelog for Blackbox provider release, enhance lmarena.py with cookie handling functions, and improve error handling in CLI engine retrieval.
  changelog.md
  pyproject.toml
  webscout/Provider/Openai_comp/blackbox.py
  webscout/Provider/UNFINISHED/lmarena.py
  webscout/Provider/blackbox.py
  webscout/cli.py
Labels: docs, provider, cli

Refactor and enhance testing suite for Webscout
  pyproject.toml
  tests/README.md
  tests/live_test.py
  tests/providers/__init__.py
  tests/providers/test_all_mocked.py
  tests/providers/test_blackbox.py
  tests/providers/test_claude_online.py
  tests/providers/test_discovery.py
  tests/providers/test_gemini.py
  tests/providers/test_groq.py
  tests/providers/test_huggingface.py
  tests/providers/test_openai.py
  tests/providers/utils.py
  webscout/Provider/Openai_comp/toolbaz.py
  webscout/Provider/QwenLM.py
  webscout/Provider/UNFINISHED/lmarena.py
  webscout/Provider/akashgpt.py
  webscout/cli.py
Labels: docs, tests, provider, cli

Refactor: Remove deprecated providers and update client handling
  Provider.md
  tests/live_test.py
  tests/providers/test_all_mocked.py
  tests/providers/test_blackbox.py
  tests/providers/test_discovery.py
  webscout/Provider/Gradient.py
  webscout/Provider/Koboldai.py
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/Openai_comp/blackbox.py
  webscout/Provider/Openai_comp/gradient.py
  webscout/Provider/Openai_comp/toolbaz.py
  webscout/Provider/Openai_comp/typefully.py
  webscout/Provider/UNFINISHED/lmarena.py
  webscout/Provider/__init__.py
  webscout/Provider/blackbox.py
  webscout/Provider/cleeai.py
  webscout/Provider/learnfastai.py
  webscout/Provider/llama3mitril.py
  webscout/Provider/toolbaz.py
  webscout/Provider/typefully.py
  webscout/client.py
  webscout/litagent/constants.py
  webscout/scout/element.py
Labels: docs, tests, provider

Enhance release workflows: support beta and stable releases with versioning and changelog updates
  .github/workflows/publish-to-pypi.yml
  .github/workflows/release-with-changelog.yml
Labels: none

Add support for multiple AI models in AI4Chat provider
  webscout/Provider/ai4chat.py
Labels: provider

Add support for multiple AI models in AI4Chat provider
  webscout/Provider/Openai_comp/ai4chat.py
Labels: provider

Enhance AI4Chat provider: Improve chunk handling and add dict-like access for Pydantic models
  webscout/Provider/Openai_comp/ai4chat.py
  webscout/Provider/Openai_comp/utils.py
Labels: provider

Refactor providers: Remove Andi provider and update model lists in Ayle and OpenAI-compatible Ayle
  Provider.md
  changelog.md
  docs/index.md
  webscout/Provider/Andi.py
  webscout/Provider/Ayle.py
  webscout/Provider/Openai_comp/ayle.py
  webscout/Provider/__init__.py
Labels: docs, provider

Remove ClaudeOnline provider and related references from the project
  Provider.md
  docs/awesome-prompts.md
  tests/providers/test_claude_online.py
  webscout/Provider/ClaudeOnline.py
  webscout/Provider/TTI/README.md
  webscout/Provider/TTI/__init__.py
  webscout/Provider/TTI/claudeonline.py
  webscout/Provider/__init__.py
Labels: docs, tests, provider

Update available models in DeepAI provider for consistency and clarity
  webscout/Provider/DeepAI.py
  webscout/Provider/Openai_comp/DeepAI.py
Labels: provider

Refactor DeepInfra provider: Update authentication requirement, enhance model fetching, and improve initialization parameters
  webscout/Provider/Deepinfra.py
  webscout/Provider/Openai_comp/deepinfra.py
Labels: provider

Add AvaSupernova provider and related tests
  AGENTS.md
  tests/providers/test_avasupernova.py
  webscout/Provider/AvaSupernova.py
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/Openai_comp/avasupernova.py
  webscout/Provider/UNFINISHED/lmarena.py
  webscout/Provider/__init__.py
Labels: docs, tests, provider

droped support of python 3.9, added more precise type annotations, and made some minor refactors in lmarena.py; also updated AGENTS.md to clarify code quality tool guidelines.
  AGENTS.md
  pyproject.toml
  webscout/Provider/AvaSupernova.py
  webscout/Provider/Openai_comp/avasupernova.py
  webscout/Provider/UNFINISHED/lmarena.py
Labels: docs, provider

Add type ignore comment for CORS middleware in create_app function
  webscout/server/server.py
Labels: none

Add unit tests for AISEARCH providers and update regex extraction in Perplexity
  tests/providers/test_AISEARCH.py
  tests/providers/test_avasupernova.py
  ty.toml
  webscout/Provider/AISEARCH/Perplexity.py
  webscout/Provider/AISEARCH/webpilotai_search.py
Labels: tests, provider

Update release workflow to use the most recent stable tag for changelog extraction and bump Python version to 3.14
  .github/workflows/release-with-changelog.yml
  ty.toml
Labels: none

Refactor response handling in webpilotai class for improved clarity and error management
  webscout/Provider/AISEARCH/webpilotai_search.py
Labels: provider

Fixed response processing for both streaming and non-streaming in Monica and PERPLEXED providers.
  webscout/Provider/AISEARCH/PERPLEXED_search.py
  webscout/Provider/AISEARCH/monica_search.py
Labels: provider

Enhance Yep and Brave search engines with improved session handling, response processing, and add live test configurations
  pyproject.toml
  tests/search/__init__.py
  tests/search/conftest.py
  tests/search/test_brave.py
  tests/search/test_search_engines.py
  webscout/search/engines/brave/base.py
  webscout/search/engines/brave/text.py
  webscout/search/engines/yep/base.py
  webscout/search/engines/yep/suggestions.py
  webscout/search/engines/yep/text.py
Labels: tests

Add Dogpile search engine implementation and tests; update dependencies
  pyproject.toml
  tests/search/test_dogpile.py
  webscout/search/__init__.py
  webscout/search/base.py
  webscout/search/engines/__init__.py
  webscout/search/engines/dogpile.py
Labels: tests

Add OpenAI-compatible providers for Sambanova, Upstage, and Zenmux APIs
  webscout/AIbase.py
  webscout/Provider/Apriel.py
  webscout/Provider/Auth/Cohere.py
  webscout/Provider/Auth/DeepAI.py
  webscout/Provider/Auth/Deepinfra.py
  webscout/Provider/Auth/Falcon.py
  webscout/Provider/Auth/Gemini.py
  webscout/Provider/Auth/GithubChat.py
  webscout/Provider/Auth/Groq.py
  webscout/Provider/Auth/HuggingFace.py
  webscout/Provider/Auth/Nvidia.py
  webscout/Provider/Auth/OpenRouter.py
  webscout/Provider/Auth/Openai.py
  webscout/Provider/Auth/QwenLM.py
  webscout/Provider/Auth/Sambanova.py
  webscout/Provider/Auth/TogetherAI.py
  webscout/Provider/Auth/TwoAI.py
  webscout/Provider/Auth/Upstage.py
  webscout/Provider/Auth/WrDoChat.py
  webscout/Provider/Auth/__init__.py
  webscout/Provider/Auth/akashgpt.py
  webscout/Provider/Auth/cerebras.py
  webscout/Provider/Auth/geminiapi.py
  webscout/Provider/Auth/julius.py
  webscout/Provider/Openai_comp/Auth/DeepAI.py
  webscout/Provider/Openai_comp/Auth/TogetherAI.py
  webscout/Provider/Openai_comp/Auth/TwoAI.py
  webscout/Provider/Openai_comp/Auth/__init__.py
  webscout/Provider/Openai_comp/Auth/cerebras.py
  webscout/Provider/Openai_comp/Auth/deepinfra.py
  webscout/Provider/Openai_comp/Auth/groq.py
  webscout/Provider/Openai_comp/Auth/huggingface.py
  webscout/Provider/Openai_comp/Auth/nvidia.py
  webscout/Provider/Openai_comp/Auth/openrouter.py
  webscout/Provider/Openai_comp/Auth/sambanova.py
  webscout/Provider/Openai_comp/Auth/upstage.py
  webscout/Provider/Openai_comp/Auth/zenmux.py
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/__init__.py
  webscout/conversation.py
Labels: provider

Refactor provider classes to remove chat methods and improve code readability
  tests/providers/test_all_mocked.py
  tests/providers/test_gemini.py
  tests/providers/test_groq.py
  tests/providers/test_huggingface.py
  tests/providers/test_openai.py
  webscout/AIauto.py
  webscout/AIbase.py
  webscout/Provider/Apriel.py
  webscout/Provider/AvaSupernova.py
  webscout/Provider/Ayle.py
  webscout/Provider/EssentialAI.py
  webscout/Provider/ExaAI.py
  webscout/Provider/HeckAI.py
  webscout/Provider/IBM.py
  webscout/Provider/Jadve.py
  webscout/Provider/Netwrck.py
  webscout/Provider/Openai_comp/Auth/sambanova.py
  webscout/Provider/Openai_comp/e2b.py
  webscout/Provider/Openai_comp/meta.py
  webscout/Provider/Openai_comp/typliai.py
  webscout/Provider/PI.py
  webscout/Provider/TextPollinationsAI.py
  webscout/Provider/TypliAI.py
  webscout/Provider/WiseCat.py
  webscout/Provider/ai4chat.py
  webscout/Provider/elmo.py
  webscout/Provider/k2think.py
  webscout/Provider/llmchat.py
  webscout/Provider/llmchatco.py
  webscout/Provider/meta.py
  webscout/Provider/searchchat.py
  webscout/Provider/sonus.py
  webscout/Provider/toolbaz.py
  webscout/Provider/turboseek.py
Labels: tests, provider

Enhance Provider class with chat method wrapping and improve available_tools property management
  webscout/AIbase.py
Labels: none

Add tools parameter to multiple provider classes and register tools if provided
  webscout/Provider/AvaSupernova.py
  webscout/Provider/Ayle.py
  webscout/Provider/EssentialAI.py
  webscout/Provider/ExaAI.py
  webscout/Provider/HeckAI.py
  webscout/Provider/IBM.py
  webscout/Provider/Jadve.py
  webscout/Provider/Netwrck.py
  webscout/Provider/PI.py
  webscout/Provider/TextPollinationsAI.py
  webscout/Provider/TypliAI.py
  webscout/Provider/WiseCat.py
  webscout/Provider/ai4chat.py
  webscout/Provider/elmo.py
  webscout/Provider/k2think.py
  webscout/Provider/llmchat.py
  webscout/Provider/llmchatco.py
  webscout/Provider/meta.py
  webscout/Provider/searchchat.py
  webscout/Provider/sonus.py
  webscout/Provider/toolbaz.py
  webscout/Provider/turboseek.py
Labels: provider

Add comprehensive documentation for the tool calling system
  docs/tool-calling.md
Labels: docs

feat(toolbaz): update AVAILABLE_MODELS with verified working models
  webscout/Provider/Openai_comp/toolbaz.py
  webscout/Provider/toolbaz.py
Labels: provider

docs: rewrite README and search docs, fix result dataclasses
  README.md
  docs/examples/README.md
  docs/examples/search-queries.md
  docs/examples/streaming-responses.md
  docs/getting-started.md
  docs/index.md
  docs/search.md
  webscout/search/results.py
Labels: docs

fix(yahoo): return typed result dataclasses instead of dicts
  docs/search.md
  webscout/search/engines/yahoo/images.py
  webscout/search/engines/yahoo/news.py
  webscout/search/engines/yahoo/text.py
  webscout/search/engines/yahoo/videos.py
  webscout/search/yahoo_main.py
Labels: docs

fix(search): fix broken engines, standardize return types
  webscout/search/engines/bing/text.py
  webscout/search/engines/yahoo/images.py
  webscout/search/engines/yahoo/weather.py
  webscout/search/yahoo_main.py
  webscout/search/yep_main.py
Labels: none

Add Cohere STT provider with OpenAI-compatible interface
  Provider.md
  changelog.md
  tests/providers/test_cohere_stt.py
  tests/test.wav
  webscout/Provider/STT/__init__.py
  webscout/Provider/STT/cohere.py
Labels: docs, tests, provider

feat: add Cohere STT & Faster Qwen3-TTS providers, fix TTS bugs
  Provider.md
  changelog.md
  tests/providers/test_tts_audio_generation.py
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/faster_qwen3.py
  webscout/Provider/TTS/parler.py
  webscout/Provider/TTS/qwen.py
  webscout/Provider/TTS/sherpa.py
Labels: docs, tests, provider

fix: TTS provider fixes and SpeechMaTTS removal
  changelog.md
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/deepgram.py
  webscout/Provider/TTS/freetts.py
  webscout/Provider/TTS/speechma.py
Labels: docs, provider

refactor: remove FreeTTS and SpeechMaTTS providers; update documentation and tests
  Provider.md
  README.md
  tests/providers/test_tts_audio_generation.py
  webscout/Provider/TTS/README.md
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/freetts.py
Labels: docs, tests, provider

feat: add TTS provider support and audio generation interface; update client documentation
  changelog.md
  docs/client.md
  webscout/client.py
Labels: docs

.github/labeler.yml:

# Example labeler configuration
# Add your label rules here. See https://github.com/actions/labeler for syntax.

# Example:
docs:
  - '**/*.md'
tests:
  - '**/test_*.py'
provider:
  - 'webscout/Provider/**'
cli:
  - 'webscout/cli.py'
