Repository OEvortex/Webscout, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, provider, cli

.github/labeler.yml:

# Example labeler configuration
# Add your label rules here. See https://github.com/actions/labeler for syntax.

# Example:
docs:
  - '**/*.md'
tests:
  - '**/test_*.py'
provider:
  - 'webscout/Provider/**'
cli:
  - 'webscout/cli.py'

conductor(setup): Add conductor setup files
  .gitignore
  conductor/code_styleguides/general.md
  conductor/code_styleguides/python.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup_state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/provider_stability_20251221/metadata.json
  conductor/tracks/provider_stability_20251221/plan.md
  conductor/tracks/provider_stability_20251221/spec.md
  conductor/workflow.md
Labels: docs

refactor: update type hints to use Optional for parameters and improve response handling across multiple provider classes
  webscout/AIbase.py
  webscout/Extra/YTToolkit/YTdownloader.py
  webscout/Provider/Ayle.py
  webscout/Provider/ChatSandbox.py
  webscout/Provider/OPENAI/nvidia.py
  webscout/Provider/OPENAI/sambanova.py
  webscout/Provider/QwenLM.py
  webscout/Provider/UNFINISHED/ChatHub.py
  webscout/Provider/UNFINISHED/ChutesAI.py
  webscout/Provider/UNFINISHED/Qodo.py
  webscout/Provider/UNFINISHED/XenAI.py
  webscout/Provider/WiseCat.py
  webscout/Provider/geminiapi.py
  webscout/search/engines/brave.py
  webscout/search/engines/duckduckgo/text.py
  webscout/search/engines/duckduckgo/weather.py
  webscout/search/engines/mojeek.py
  webscout/update_checker.py
Labels: provider

fix: resolve linting issues and improve response handling in Perplexity provider; refactor type hints and imports across multiple files
  changelog.md
  webscout/Extra/YTToolkit/YTdownloader.py
  webscout/Provider/AISEARCH/Perplexity.py
  webscout/Provider/UNFINISHED/ChatHub.py
  webscout/Provider/UNFINISHED/XenAI.py
  webscout/search/engines/duckduckgo/weather.py
Labels: docs, provider

Rename Deepinfra to DeepInfra
  .gitignore
  AGENTS.md
  README.md
  changelog.md
  cookies.json
  docs/README.md
  docs/swiftcli.md
  docs/zeroart.md
  lol.py
  pyproject.toml
  uv.lock
  webscout/AIbase.py
  webscout/AIutel.py
  webscout/Provider/__init__.py
  webscout/Provider/toolbaz.py
  webscout/cli.py
  webscout/client.py
  webscout/models.py
  webscout/prompt_manager.py
  webscout/swiftcli/decorators/output.py
  webscout/swiftcli/utils/parsing.py
  webscout/update_checker.py
  webscout/utils.py
  webscout/zeroart/README.md
  webscout/zeroart/base.py
  webscout/zeroart/effects.py
  webscout/zeroart/fonts.py
Labels: docs, provider, cli

refactor: clean up code formatting and improve readability in SonusAI class
  webscout/Provider/sonus.py
Labels: provider

Refactor code for consistency and readability across multiple providers
  webscout/Provider/OPENAI/K2Think.py
  webscout/Provider/OPENAI/PI.py
  webscout/Provider/OPENAI/ai4chat.py
  webscout/Provider/OPENAI/chatsandbox.py
  webscout/Provider/OPENAI/deepinfra.py
  webscout/Provider/OPENAI/elmo.py
  webscout/Provider/OPENAI/exaai.py
  webscout/Provider/OPENAI/llmchatco.py
  webscout/Provider/OPENAI/netwrck.py
  webscout/Provider/OPENAI/nvidia.py
  webscout/Provider/OPENAI/oivscode.py
  webscout/Provider/OPENAI/sambanova.py
  webscout/Provider/OPENAI/textpollinations.py
  webscout/Provider/OPENAI/typliai.py
  webscout/Provider/OPENAI/wisecat.py
  webscout/Provider/OPENAI/zenmux.py
  webscout/Provider/Openai.py
  webscout/Provider/PI.py
  webscout/Provider/QwenLM.py
  webscout/Provider/TTS/deepgram.py
  webscout/Provider/TTS/parler.py
  webscout/Provider/TogetherAI.py
  webscout/Provider/TwoAI.py
  webscout/Provider/UNFINISHED/Marcus.py
  webscout/Provider/UNFINISHED/liner.py
  webscout/Provider/geminiapi.py
  webscout/Provider/learnfastai.py
  webscout/Provider/searchchat.py
  webscout/Provider/typefully.py
  webscout/Provider/x0gpt.py
  webscout/search/duckduckgo_main.py
  webscout/search/engines/duckduckgo/weather.py
Labels: provider

refactor: improve code readability and maintainability across multiple files
  .gitignore
  AGENTS.md
  webscout/Extra/GitToolkit/gitapi/utils.py
  webscout/Extra/YTToolkit/YTdownloader.py
  webscout/Provider/OPENAI/x0gpt.py
  webscout/Provider/TTS/base.py
  webscout/Provider/TTS/elevenlabs.py
  webscout/Provider/TTS/freetts.py
  webscout/Provider/TTS/murfai.py
  webscout/Provider/TTS/openai_fm.py
  webscout/Provider/TTS/qwen.py
  webscout/Provider/TTS/sherpa.py
  webscout/Provider/TTS/speechma.py
  webscout/Provider/UNFINISHED/ChatHub.py
  webscout/Provider/UNFINISHED/Qodo.py
  webscout/Provider/UNFINISHED/samurai.py
  webscout/scout/parsers/lxml_parser.py
  webscout/search/engines/yahoo/weather.py
  webscout/server/providers.py
  webscout/server/request_processing.py
  webscout/server/server.py
Labels: docs, provider

refactor: enhance response handling and type consistency across multiple providers
  webscout/Provider/UNFINISHED/ChutesAI.py
  webscout/Provider/UNFINISHED/Qodo.py
  webscout/Provider/UNFINISHED/XenAI.py
  webscout/Provider/UNFINISHED/Youchat.py
  webscout/Provider/UNFINISHED/liner_api_request.py
  webscout/Provider/UNFINISHED/samurai.py
  webscout/Provider/WrDoChat.py
  webscout/Provider/cleeai.py
  webscout/scout/core/crawler.py
  webscout/scout/parsers/html5lib_parser.py
  webscout/search/base.py
  webscout/server/server.py
Labels: provider

refactor: update .gitignore and remove unused lol.py file
  .gitignore
  lol.py
Labels: none

feat: add OpenRouter provider with dynamic model fetching and LitAgent integration
  Provider.md
  changelog.md
  webscout/Provider/OPENAI/__init__.py
  webscout/Provider/OPENAI/openrouter.py
  webscout/Provider/OpenRouter.py
  webscout/Provider/__init__.py
Labels: docs, provider

feat: Remove beautifulsoup4 dependency and use webscout/scout exclusively
  AGENTS.md
  README.md
  changelog.md
  docs/scout.md
  pyproject.toml
  uv.lock
  webscout/Extra/gguf.py
Labels: docs

chore: Update version to 2026.01.01 for release
  webscout/version.py
Labels: none

Auto-commit: saving uncommitted changes
  changelog.md
  pyproject.toml
  uv.lock
  webscout/Extra/YTToolkit/YTdownloader.py
  webscout/Extra/YTToolkit/transcriber.py
  webscout/Extra/YTToolkit/ytapi/captions.py
  webscout/Extra/tempmail/mail_tm.py
  webscout/Extra/tempmail/temp_mail_io.py
  webscout/Extra/weather.py
  webscout/Extra/weather_ascii.py
  webscout/Provider/AISEARCH/iask_search.py
  webscout/Provider/TTS/base.py
  webscout/Provider/UNFINISHED/ChutesAI.py
  webscout/Provider/UNFINISHED/XenAI.py
  webscout/Provider/UNFINISHED/grammerchecker.py
  webscout/Provider/UNFINISHED/liner.py
  webscout/Provider/UNFINISHED/liner_api_request.py
  webscout/Provider/llmchat.py
  webscout/Provider/llmchatco.py
Labels: docs, provider

Resolve merge conflict in iask_search.py by accepting upstream changes
  webscout/Provider/AISEARCH/iask_search.py
Labels: provider

Commit local changes to .gitignore and uv.lock before pull
  .gitignore
  uv.lock
Labels: none

feat: Update Gemini and Bard providers to support only Gemini 3.x models
  AGENTS.md
  Provider.md
  changelog.md
  webscout/Bard.py
  webscout/Extra/YTToolkit/YTdownloader.py
  webscout/Provider/AISEARCH/PERPLEXED_search.py
  webscout/Provider/AISEARCH/README.md
  webscout/Provider/AISEARCH/__init__.py
  webscout/Provider/AISEARCH/genspark_search.py
  webscout/Provider/AISEARCH/iask_search.py
  webscout/Provider/AISEARCH/miromind_search.py
  webscout/Provider/AISEARCH/monica_search.py
  webscout/Provider/AISEARCH/webpilotai_search.py
  webscout/Provider/Gemini.py
  webscout/Provider/UNFINISHED/XenAI.py
  webscout/Provider/UNFINISHED/liner_api_request.py
Labels: docs, provider

feat: Add BraveAI provider for AI-generated responses using Brave Search
  AGENTS.md
  webscout/Provider/AISEARCH/README.md
  webscout/Provider/AISEARCH/__init__.py
  webscout/Provider/AISEARCH/brave_search.py
  webscout/Provider/Ayle.py
  webscout/Provider/HadadXYZ.py
  webscout/Provider/OPENAI/utils.py
  webscout/Provider/STT/base.py
  webscout/Provider/meta.py
  webscout/Provider/toolbaz.py
  webscout/prompt_manager.py
  webscout/sanitize.py
  webscout/scout/core/crawler.py
  webscout/scout/parsers/html5lib_parser.py
  webscout/scout/parsers/lxml_parser.py
  webscout/search/base.py
  webscout/server/server.py
  webscout/swiftcli/core/cli.py
  webscout/swiftcli/core/group.py
  webscout/swiftcli/decorators/output.py
Labels: docs, provider

feat: Enhance BraveAI provider with additional parameters for research and localization
  AGENTS.md
  webscout/Provider/AISEARCH/README.md
  webscout/Provider/AISEARCH/brave_search.py
Labels: docs, provider

feat: Update BraveAI provider to support additional parameters for language and localization
  AGENTS.md
  webscout/Provider/AISEARCH/brave_search.py
Labels: docs, provider

Jan 15, 2026, 2:57 PM
  changelog.md
Labels: docs

Jan 15, 2026, 2:59 PM
  AGENTS.md
  changelog.md
Labels: docs

Jan 15, 2026, 3:08 PM
  webscout/Provider/ChatZAI.py
  webscout/Provider/__init__.py
Labels: provider

Jan 15, 2026, 3:09 PM
  linecounter.py
  webscout/Provider/__init__.py
Labels: provider

feat: Add agent orchestration and subagent definitions for enhanced AI capabilities; remove unused ChatZAI provider and line counter script; introduce docstring and reverse engineering agents
  .github/agents/Docstring.agent.md
  .github/agents/Reverse.agent.md
  AGENTS.md
  linecounter.py
  webscout/Provider/ChatZAI.py
  webscout/Provider/__init__.py
Labels: docs, provider

feat: Implement BraveImages search engine and associated tests; refactor Brave engine; update documentation and usage instructions
  .github/agents/Reverse.agent.md
  AGENTS.md
  lol.py
  tests/providers/test_brave_images.py
  webscout/search/base.py
  webscout/search/engines/__init__.py
  webscout/search/engines/brave/__init__.py
  webscout/search/engines/brave/base.py
  webscout/search/engines/brave/images.py
  webscout/search/engines/brave/text.py
Labels: docs, tests

feat: Enhance Brave search functionality with new engines and improved parsing
  AGENTS.md
  changelog.md
  lol.py
  tests/providers/test_brave_images.py
  tests/providers/test_brave_text.py
  webscout/cli.py
  webscout/search/__init__.py
  webscout/search/brave_main.py
  webscout/search/engines/__init__.py
  webscout/search/engines/brave/__init__.py
  webscout/search/engines/brave/base.py
  webscout/search/engines/brave/images.py
  webscout/search/engines/brave/news.py
  webscout/search/engines/brave/suggestions.py
  webscout/search/engines/brave/text.py
  webscout/search/engines/brave/videos.py
  webscout/server/routes.py
Labels: docs, tests, cli

feat: Remove deprecated testing script for Brave search engines
  lol.py
Labels: none

feat: Add lxml dependency and refactor search providers
  .github/agents/Docstring.agent.md
  .github/agents/Reverse.agent.md
  changelog.md
  pyproject.toml
  uv.lock
  webscout/Provider/AISEARCH/brave_search.py
  webscout/Provider/AISEARCH/iask_search.py
  webscout/Provider/OPENAI/akashgpt.py
  webscout/Provider/OPENAI/sonus.py
  webscout/Provider/akashgpt.py
  webscout/client.py
Labels: docs, provider

Delete uv.lock
  uv.lock
Labels: none

feat: Update Ayle provider models and remove MiroMind integration; add tests for Ayle models
  AGENTS.md
  changelog.md
  tests/test_ayle_models.py
  webscout/Provider/AISEARCH/__init__.py
  webscout/Provider/AISEARCH/miromind_search.py
  webscout/Provider/Ayle.py
  webscout/__init__.py
Labels: docs, tests, provider

chore: remove HadadXYZ provider implementations
  webscout/Provider/HadadXYZ.py
  webscout/Provider/OPENAI/hadadxyz.py
Labels: provider

feat: Remove HadadXYZ provider implementations and enhance DeepInfra model filtering; add tests for OpenAI DeepInfra provider
  Provider.md
  changelog.md
  tests/providers/test_openai_deepinfra.py
  tests/test_ayle_models.py
  webscout/Provider/Deepinfra.py
  webscout/Provider/OPENAI/__init__.py
  webscout/Provider/OPENAI/deepinfra.py
  webscout/Provider/__init__.py
  webscout/server/server.py
Labels: docs, tests, provider

feat: Move BraveAI provider to UNFINISHED folder; add AyeSoul provider implementation with streaming support and image upload functionality
  changelog.md
  pyproject.toml
  tests/test_ayle_models.py
  webscout/Provider/AISEARCH/__init__.py
  webscout/Provider/AISEARCH/ayesoul_search.py
  webscout/Provider/AISEARCH/brave_search.py
  webscout/Provider/UNFINISHED/brave_search.py
Labels: docs, tests, provider

feat: Add new grammar checker and AI humanizer provider implementations
  webscout/Provider/UNFINISHED/Grammer/grammerchecker.py
  webscout/Provider/UNFINISHED/Humanizer/aihumanizer.py
Labels: provider

feat: Add Pocket TTS provider implementation and include it in the TTS module
  webscout/Provider/TTS/__init__.py
  webscout/Provider/TTS/pockettts.py
Labels: provider

feat: Enhance Kyutai TTS provider with new models and comprehensive tests
  AGENTS.md
  tests/providers/test_kyutai_comprehensive.py
  webscout/Provider/TTS/pockettts.py
  webscout/Provider/UNFINISHED/Grammer/grammerchecker.py
Labels: docs, tests, provider

feat: Update DeepInfra provider by removing deprecated model list and enhancing task orchestration instructions
  AGENTS.md
  Prompts/ReverseEngineering.md
  webscout/Provider/Deepinfra.py
Labels: docs, provider

Implement non-blocking background model fetching with caching support
  changelog.md
  tests/providers/test_model_fetching.py
  webscout/Provider/Deepinfra.py
  webscout/Provider/Openai_comp/DeepAI.py
  webscout/Provider/Openai_comp/base.py
  webscout/Provider/Openai_comp/cerebras.py
  webscout/Provider/Openai_comp/deepinfra.py
  webscout/Provider/Openai_comp/groq.py
  webscout/Provider/Openai_comp/oivscode.py
  webscout/Provider/Openai_comp/openrouter.py
  webscout/Provider/QwenLM.py
  webscout/model_fetcher.py
Labels: docs, tests, provider

Refactor model fetching across providers to use non-blocking background fetch
  changelog.md
  lol.py
  webscout/Provider/Algion.py
  webscout/Provider/Groq.py
  webscout/Provider/HuggingFace.py
  webscout/Provider/K2Think.py
  webscout/Provider/Nvidia.py
  webscout/Provider/OpenRouter.py
  webscout/Provider/Openai.py
  webscout/Provider/Openai_comp/K2Think.py
  webscout/Provider/Openai_comp/TogetherAI.py
  webscout/Provider/Openai_comp/__init__.py
  webscout/Provider/Openai_comp/algion.py
  webscout/Provider/Openai_comp/huggingface.py
  webscout/Provider/Openai_comp/nvidia.py
  webscout/Provider/Openai_comp/oivscode.py
  webscout/Provider/Openai_comp/textpollinations.py
  webscout/Provider/Sambanova.py
  webscout/Provider/TextPollinationsAI.py
  webscout/Provider/TogetherAI.py
  webscout/Provider/TwoAI.py
  webscout/Provider/__init__.py
  webscout/Provider/cerebras.py
  webscout/Provider/geminiapi.py
  webscout/Provider/oivscode.py
Labels: docs, provider

feat: Enhance ProxyManager with improved error handling and response validation
  webscout/AIbase.py
  webscout/Extra/proxy_manager.py
Labels: none
